---
import { t } from 'i18n:astro'
import CardProject from '@components/CardProject.astro'

const { title, projects } = t('projects', {
  returnObjects: true
})
---

<section class="projects">
  <h2>
    <span>{title}</span>
  </h2>
  {
    projects.map(({ title, description, image, techs, code, preview }) => (
      <CardProject
        src={image}
        alt={title}
        title={title}
        description={description}
        techs={techs}
        code={code}
        preview={preview}
      />
    ))
  }
</section>

<style>
  .projects {
    padding-bottom: 120px;

    & h2 {
      display: flex;
      gap: 24px;
      align-items: center;
      white-space: nowrap;
      margin-bottom: 86px;

      & span {
        order: 1;
      }

      &::after {
        content: '';
        display: block;
        width: 100%;
        height: 1px;
        background-color: var(--border-color);
      }
    }
  }
</style>
