---
import { t } from 'i18n:astro'

const { designed, developed } = t('footer', {
  returnObjects: true
})

const { designed_with: designedWith, designed_by: designedBy } = designed
const { developed_with: developedWith, developed_by: developedBy } = developed

const year = new Date().getFullYear()
---

<footer>
  <p>
    <span>
      © <span id="year">{year}</span>
      {designedWith}
      <video
        width="24"
        src="/media/unicorn.webm"
        preload="metadata"
        playsinline
        autoplay
        muted
        loop></video>
      {designedBy}
      <a
        href="https://www.linkedin.com/in/ux-ana-rangel"
        target="_blank"
        rel="noopener noreferrer">UX Ana Rangel</a
      >
    </span>
    <span>
      {developedWith}
      <video
        width="24"
        src="/media/heart.webm"
        preload="metadata"
        playsinline
        autoplay
        muted
        loop></video>
      {developedBy}
      <a
        href="https://felixicaza.com/"
        target="_blank"
        rel="noopener noreferrer">Felix Icaza</a
      >.
    </span>
  </p>
</footer>

<style>
  footer {
    padding-block: 67px;
    text-align: center;
    padding-inline: var(--mobile-inline-padding);

    @media (width >= 768px) {
      padding-inline: 0;
    }

    & p span video {
      display: inline-block;
      margin-inline: 4px;
    }

    & P > span:first-child::after {
      content: '|';
      display: inline-block;
      translate: 0 -1px;
      margin-right: 4px;
    }

    & a {
      color: var(--text-color);
      text-decoration: none;
      transition: var(--transition-text);

      @media (any-hover: hover) {
        &:hover {
          color: var(--text-description-color);
        }
      }
    }

    & video {
      translate: 0 -2px;
    }
  }
</style>

<script is:inline>
  document.querySelector('#year').textContent = new Date().getFullYear()
</script>
